.priceCard {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 10px 12px 16px rgba(128, 128, 128, 0.735);

  padding: 20px 0px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.197);
}

.priceCard:hover {
  color: white;
  box-shadow: none;
  border-radius: 25px;
  transition: all ease 0.5s;
  background-color: rgba(0, 0, 255, 0.717);
}

.priceCard:hover Button {
  background-color: white;
  color: rgba(0, 0, 255, 0.717);
}
