.headerBg {
  background: rgba(0, 0, 0, 0.900) url("/assets/Doctors-Kamineni-Hospitals.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background-blend-mode: darken;
}
