.headerBg {
  background: rgba(0, 0, 0, 0.720) url("/assets/Doctors-Kamineni-Hospitals.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  height: 100vh;
}

.headerDashboard{
  border: 2px solid rgb(38 130 217);
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  padding: 9px 20px;
}

.headerDashboard:hover{
  background-color: rgb(38 130 217);
  font-size: 26px;
  transition: all ease 0.5s;
}

/* typing Animation */

.typingAnimation {
  font-family: Arial, sans-serif;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.typingAnimation h2 {
  background: rgb(76, 166, 251);
  color: transparent;
  -webkit-background-clip: text;
}

.cursor {
  display: inline-block;
  width: 5px;
  max-height: 55px;
  min-height: 40px;
  background: rgb(76, 166, 251);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}